<script>

export default {

	props:['url', 'value'],
	data(){
		return {
			myUrl:this.url
		}
	},
	methods:{

	}


}

</script>

<template>
		<input class="url-field" type="url" placeholder="enter video url" :value="value" @input="$emit( 'input', $event.target.value )">
</template>
