div.main-div {

	margin: 8px;
	display:flex;
	flex-direction: column;
}

div.content-div {
	display:flex;
	flex-direction: row;
}

div.title-div {
	display:flex;
	flex-direction: row;
}

div.input-box {
	flex-direction:column;
	flex-grow:2;
	max-width: 100%;
}

div.pick-div {
	flex-grow: 3;
	flex-direction: column;
}

div.dl-div {
	position:static;
	margin: 0 4;
	flex-shrink:1;
}

div.flex-col {

	display:flex;
	flex-grow:1;
	flex-direction: column;
}

div.flex-row {
	display:flex;
	flex-grow:1;
	flex-direction: row;
}

div.scroll-div {
	position: static;
	height: 100%;
	overflow-y: scroll;
}

div.flex-div {
	display:flex;
}

div.thumb-div {
	margin: 4 4;
	flex-shrink: 1;
	width: fit-content;
}

.dl-item {

	position:static;
	background:#bee3fc;
	padding:4px;
	margin:2px;

}

div.format-view {

	background:#bee3fc;
	margin: 2px;
	padding:4px;
	max-width: 90%;

}

progress {
	flex-grow: 1;
	margin: 4px;
}
.url-field {
	flex-grow:2;
	size:300;
	height:24px;
	max-width: 100%;
	border-radius:2px;
}

label.dl-title {
	font-size: 0.8em;
}

.div-close {
	float:right;
}

.progress-text {
	margin: 2 2;
}

input[type=text] {
	flex-grow:2;
	size:300;
	height:24px;
	max-width: 100%;
	border-radius:2px;
}
.inline-row {
	display:inline-block;
}

span.success {
	color: #287428;
	font-size: 1.2em;
}

button, input[type=button] {
	margin:2px;
	border-style: none;
	width: fit-content;
	border-radius: 2px;
	height:24px;
	background:#4fb6fa
}