<script>

import { logObj, logAllProps } from './util/logutil';
import DlView from './view/dl-view.vue';
import PickView from './view/pick-view.vue';
import { AUDIOONLY, AUDIOANDVIDEO, VIDEONLY } from './model/download';
import { Stream } from 'stream';

const ffmpeg = require('fluent-ffmpeg');

const path = require('path');
const fs = require('fs');
const ytdl = require( 'ytdl-core');

export default {

	data(){

		return {
			downloads:[]
		}
	},
	created(){

		ffmpeg.setFfmpegPath(
			path.resolve( './ffmpeg.exe')
		);

	},

	components:{
		'dl-view':DlView,
		'pick-view':PickView
	},
	methods:{

		uniquePath( fullPath ) {

			let { dir, ext, name } = path.parse( path.resolve( fullPath ) );

			let num = 1;
			while ( fs.existsSync(fullPath) ) {
				fullPath = path.join( dir, name + num.toString() + ext );
				num++
			}
			return fullPath;

		},

		openFile( path ) {
		},

		showFile( path ) {
		},

		startDownload( dl ){

			if ( dl.isYoutube ) {

				this.ytDownload( dl );
				this.downloads.push(dl);


			} else {

				console.log('Unknown download type.');
			}

		},

		clearDownload(dl) {

			let ind = this.downloads.indexOf( dl );
			if ( ind >= 0 ) this.downloads.splice( ind, 1 );

		},

		ytDownload( dl ){

			let opts = {};

			if ( dl.format ) {

				opts.format = dl.format;

			} else if ( dl.channels ) {

				if ( dl.channels === AUDIOANDVIDEO ) {
					opts.quality = "highest";
				} else if ( dl.channels === AUDIOONLY ) {
					opts.quality = "highestaudio";
				} else if ( dl.channels === VIDEONLY ) {
					opts.quality = "highestvideo";
				}

			}

			//logObj( dl.info );
			logObj( dl.path);

			dl.path = this.uniquePath( dl.path );
			let writer = fs.createWriteStream( dl.path );

			let reader = dl.reader = ytdl.downloadFromInfo( dl.info, opts );

			if ( dl.channels === AUDIOONLY ) {

				dl.writer = writer;
				this.mp3Stream( reader, writer );
				//logAllProps( dl.witer );

			} else {

				dl.writer = reader.pipe( writer );

			}



		},

		mp3Stream( reader, writer ) {
			return new ffmpeg( reader ).format('mp3').pipe( writer );

		}

	}

}

</script>


<template>

	<div class="main-div">

		<div class="title-div"><h3>ArchDl 0.8.0</h3></div>
		<div class="content-div">

		<pick-view class="pick-div" @download="startDownload" />
		<div class="scroll-div dl-div">
		<dl-view class="dl-item" v-for="(d,ind) in downloads" :key="ind" :download="d" @clear="clearDownload" />
		</div>

		</div>

	</div>

</template>
